.chatContent_f75fb0 {
  color: red;
}

.message__5126c {
  padding: 10px;
}

.content_d76df7 {
  background: blue;
}

.icon_d76df7 {
  background: blue;
}

.uppercase_bd482f {
  background: blue;
}

.unread_edf32f {
  background: blue;
}

.overflow_d4626d {
  background: blue;
}

.subtext_be40e6 {
  background: blue;
}

.wrapper_ebd0fc {
  background: blue;
}

